@import url('https://fonts.googleapis.com/css?family=Signika:400,600&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Signika', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
}


/*For Particle effect*/

#particle {
    background-color: #1e0000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

#overlay {
    position: relative;
}


/*For footer Boxes*/

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 3px
}

.l-g3:after {
    display: table;
    content: ' ';
    clear: both;
}

.l-g3>div:nth-child(3n+1) {
    background: rgba(255, 0, 0, 0.25);
}

.l-g3>div:nth-child(3n+2) {
    background: rgba(255, 0, 0, 0.25);
}

.l-g3>div:nth-child(3n+3) {
    background: rgba(255, 0, 0, 0.25);
}

.l-g3>div {
    padding: 3px;
    width: 32.2033898305%;
    float: left;
}

.l-g3>div:nth-child(3n+1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
}

.l-g3>div:nth-child(3n+2) {
    margin-left: 33.8983050847%;
    margin-right: -100%;
    clear: none;
}

.l-g3>div:nth-child(3n+3) {
    margin-left: 67.7966101695%;
    margin-right: -100%;
    clear: none;
}


/*horizantal line*/

.has-lines {
    font-size: 18px;
    color: #f2f2f2;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.has-lines:before,
.has-lines:after {
    content: '';
    -webkit-box-flex: 1;
    flex-grow: 1;
    height: 2px;
    background: #510000;
    min-width: 40px;
    display: inline-block;
    vertical-align: middle;
    -webkit-box-shadow: -2px 1px 17px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: -2px 1px 17px 0px rgba(0, 0, 0, 1);
    box-shadow: -2px 1px 17px 0px rgba(0, 0, 0, 1);
}

.has-lines:before {
    margin-right: 10px;
}

.has-lines:after {
    margin-left: 10px;
}


/*border box Animations*/

@keyframes level-item {
    0%,
    100% {
        background-image: linear-gradient( 115deg, #ff0000, #7f0000, #8c3333, #e00202), linear-gradient(115deg, #e00202, #e00202), linear-gradient(115deg, #ff0000, #7f0000, #8c3333, #e00202), linear-gradient(115deg, #ff0000, #ed2121);
    }
    25% {
        background-image: linear-gradient( 115deg, #7f0000, #8c3333, #e00202, #ff0000), linear-gradient(115deg, #ff0000, #ff0000), linear-gradient(115deg, #7f0000, #8c3333, #e00202, #ff0000), linear-gradient(115deg, #7f0000, #7f0000);
    }
    50% {
        background-image: linear-gradient( 115deg, #8c3333, #e00202, #ff0000, #7f0000), linear-gradient(115deg, #7f0000, #7f0000), linear-gradient(115deg, #8c3333, #e00202, #ff0000, #7f0000), linear-gradient(115deg, #8c3333, #8c3333);
    }
    75% {
        background-image: linear-gradient( 115deg, #e00202, #ff0000, #7f0000, #8c3333), linear-gradient(115deg, #8c3333, #8c3333), linear-gradient(115deg, #e00202, #ff0000, #7f0000, #8c3333), linear-gradient(115deg, #e00202, #e00202);
    }
}

.level-item {
    background-repeat: no-repeat;
    background-size: calc(100% - 10px) 6px, /* top & bottom */
    6px calc(100% - 10px);
    /* right & left */
    background-position: 5px 5px, /* top */
    calc(100% - 5px) 5px, /* right */
    5px calc(100% - 5px), /* bottom */
    5px 5px;
    /* left */
    background-image: linear-gradient( 115deg, #ff0000, #7f0000, #8c3333, #e00202, #ed2121), linear-gradient(115deg, #ff0000, #ed2121), linear-gradient(115deg, #ff0000, #ff6d6d, #fca4a4, #e00202, #ed2121), linear-gradient(115deg, #ff0000, #ed2121);
    animation: level-item 1s linear infinite;
    opacity: .9;
}

.innr {
    background-color: #510000;
    padding: 5px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500px;
    text-align: center;
}

.innr #activ {
    color: #ffea0c;
}

.innr #cov-total-recoverd {
    color: #00bc03;
}

.innr #cov-total-dead {
    color: #ff8605;
}

.txt-sm {
    font-size: 15px;
}

@media (max-width: 680px) {
    .innr {
        font-size: 16px;
    }
    #particle {
        margin: 0;
    }
}

@media (max-width: 380px) {
    .innr {
        font-size: 15px;
    }
}

.lupdate {
    text-align: center;
    color: rgba(255, 138, 149, 0.9);
    margin-top: 7px;
    font-size: 13px;
    font-weight: 300;
}


/*Map Section*/

.map_wrapper {
    margin-top: 15px;
}

#wmap {
    width: 100%;
    height: 85vh;
    background-color: transparent;
    position: absolute;
}

.jvectormap-container {
    background-color: transparent !important;
}

.jvectormap-tip {
    border: solid 1px #CDCDCD;
    border-radius: 3px;
    background: transparent;
    color: white;
    font-family: inherit;
    font-size: smaller;
    padding: 3px;
    transition: opacity 0.25s ease;
    width: 150px;
    border: 1px solid white;
    border-radius: 4px;
    text-align: center;
    pointer-events: none !important;
}

.jvectormap-tip img {
    width: 100%;
    height: auto;
    margin-bottom: -5px;
    border-radius: 4px 4px 0 0;
}

.jvectormap-tip .title {
    padding: 5px;
    background-color: #070707;
}

.jvectormap-tip .info {
    padding: 5px;
    border-radius: 0 0 4px 4px;
}

.jvectormap-tip .changed {
    font-size: 0.7em;
}

.chide {
    display: none;
}

path[fill="#222"] {
    cursor: not-allowed !important;
    pointer-events: none !important;
}


/* Header Styles */

.head-wrap {
    position: absolute;
    top: 0;
    right: -8px;
    color: #fff;
    background-color: #510000;
    border-radius: 0px 0 0 20px;
    -webkit-box-shadow: -1px 1px 10px 0px rgba(194, 0, 13, 1);
    -moz-box-shadow: -1px 1px 10px 0px rgba(194, 0, 13, 1);
    box-shadow: -1px 1px 10px 0px rgba(194, 0, 13, 1);
    padding: 5px 10px 10px 12px;
    z-index: 9999;
}

.head-wrap h2 {
    font-size: 20px;
    margin: 0;
    color: #e0dede;
}

.head-wrap hr {
    margin: 0;
    width: 70%;
    float: right;
    opacity: .7;
}

.pop-info {
    position: absolute;
    right: 0;
    margin-top: 11px;
    background-color: #510000;
    border-radius: 0px 0 0 20px;
    -webkit-box-shadow: -1px 2px 10px 0px rgba(194, 0, 13, 1);
    -moz-box-shadow: -1px 2px 10px 0px rgba(194, 0, 13, 1);
    box-shadow: -1px 2px 10px 0px rgba(194, 0, 13, 1);
    padding: 3px 10px 5px 15px;
    font-size: 14px;
    color: #d6b8b8;
}

.pop-info a {
    font-size: 14px;
    color: #d6b8b8;
    text-decoration: none;
}

.pop-info a:hover {
    font-size: 14px;
    color: #9e8989;
    text-decoration: none;
}


/* Popup Styles */

.blocker {
    z-index: 9999999 !important;
}

.modal {
    max-width: 480px;
    background: #1c0000;
    color: #d1d1d1;
}

.m-head {
    font-weight: bold;
    color: #e0e0e0 !important;
}

.m-qst {
    font-size: 14px;
}

.m-qst a {
    text-decoration: none;
    color: #efad9b;
}

.m-qst a:hover {
    text-decoration: none;
    color: #fff;
}

.m-share {
    font-weight: bold;
}

.m-git a {
    text-decoration: none;
    color: #efad9b;
    font-size: 14px;
}

.m-git a:hover {
    text-decoration: none;
    color: #fff;
}

.m-git a i {
    color: #e0e0e0;
}


/* top text */

.notif {
    position: absolute;
    z-index: 99999;
    color: #d3c2c2;
    top: 0;
    left: 9px;
    margin: 0;
    font-size: 15px;
}

@media (max-width: 730px) {
    .notif {
        top: 2px;
        left: 38px;
        margin: 0;
        font-size: 15px;
        max-width: 300px
    }
}

.notif-bottom {
    display: none;
    color: #d3c2c2;
    font-size: 15px;
}

@media (max-width: 730px) {
    .notif {
        display: none;
    }
    .notif-bottom {
        display: block;
        color: #d3c2c2;
        font-size: 13px;
        margin: 0 0 5px 0;
        text-align: center;
    }
    .has-lines {
        margin: 0;
    }
}

@media (max-width: 730px) {
    .notif-bottom {
        font-size: 12px;
    }
}