/**

 */


/*@import url('https://fonts.googleapis.com/css?family=Signika:400,600&display=swap');*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Signika', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}


/*For Particle effect*/

#particle {
    background-color: #8c0000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

#overlay {
    position: relative;
}


/*For footer Boxes*/

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 3px
}

.l-g3:after {
    display: table;
    content: ' ';
    clear: both;
}

.l-g3>div:nth-child(3n+1) {
    background: rgba(255, 0, 0, 0.25);
}

.l-g3>div:nth-child(3n+2) {
    background: rgba(255, 0, 0, 0.25);
}

.l-g3>div:nth-child(3n+3) {
    background: rgba(255, 0, 0, 0.25);
}

.l-g3>div {
    padding: 3px;
    width: 32.2033898305%;
    float: left;
}

.l-g3>div:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
}

.l-g3>div:nth-child(3n + 2) {
    margin-left: 33.8983050847%;
    margin-right: -100%;
    clear: none;
}

.l-g3>div:nth-child(3n + 3) {
    margin-left: 67.7966101695%;
    margin-right: -100%;
    clear: none;
}


/*horizantal line*/

.has-lines {
    font-size: 18px;
    color: #f2f2f2;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.has-lines:before,
.has-lines:after {
    content: '';
    -webkit-box-flex: 1;
    flex-grow: 1;
    height: 2px;
    background: #e50000;
    min-width: 40px;
    display: inline-block;
    vertical-align: middle;
    -webkit-box-shadow: -2px 1px 17px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: -2px 1px 17px 0px rgba(0, 0, 0, 1);
    box-shadow: -2px 1px 17px 0px rgba(0, 0, 0, 1);
}

.has-lines:before {
    margin-right: 10px;
}

.has-lines:after {
    margin-left: 10px;
}


/*border box Animations*/

@keyframes level-item {
    0%,
    100% {
        background-image: linear-gradient( 115deg, #ff0000, #ff6d6d, #fca4a4, #e00202), linear-gradient(115deg, #e00202, #e00202), linear-gradient(115deg, #ff0000, #ff6d6d, #fca4a4, #e00202), linear-gradient(115deg, #ff0000, #ed2121);
    }
    25% {
        background-image: linear-gradient( 115deg, #ff6d6d, #fca4a4, #e00202, #ff0000), linear-gradient(115deg, #ff0000, #ff0000), linear-gradient(115deg, #ff6d6d, #fca4a4, #e00202, #ff0000), linear-gradient(115deg, #ff6d6d, #ff6d6d);
    }
    50% {
        background-image: linear-gradient( 115deg, #fca4a4, #e00202, #ff0000, #ff6d6d), linear-gradient(115deg, #ff6d6d, #ff6d6d), linear-gradient(115deg, #fca4a4, #e00202, #ff0000, #ff6d6d), linear-gradient(115deg, #fca4a4, #fca4a4);
    }
    75% {
        background-image: linear-gradient( 115deg, #e00202, #ff0000, #ff6d6d, #fca4a4), linear-gradient(115deg, #fca4a4, #fca4a4), linear-gradient(115deg, #e00202, #ff0000, #ff6d6d, #fca4a4), linear-gradient(115deg, #e00202, #e00202);
    }
}

.level-item {
    background-repeat: no-repeat;
    background-size: calc(100% - 10px) 6px, /* top & bottom */
    6px calc(100% - 10px);
    /* right & left */
    background-position: 5px 5px, /* top */
    calc(100% - 5px) 5px, /* right */
    5px calc(100% - 5px), /* bottom */
    5px 5px;
    /* left */
    background-image: linear-gradient( 115deg, #ff0000, #ff6d6d, #fca4a4, #e00202, #ed2121), linear-gradient(115deg, #ff0000, #ed2121), linear-gradient(115deg, #ff0000, #ff6d6d, #fca4a4, #e00202, #ed2121), linear-gradient(115deg, #ff0000, #ed2121);
    animation: level-item 1s linear infinite;
    opacity: .9;
}

.innr {
    background-color: #7f0000;
    padding: 5px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500px;
    text-align: center;
}

.innr #activ {
    color: #ffea0c;
}

.innr #cov-total-recoverd {
    color: #00bc03;
}

.innr #cov-total-dead {
    color: #ff8605;
}

.txt-sm {
    font-size: 15px;
}

@media (max-width: 680px) {
    .innr {
        font-size: 16px;
    }
    #particle {
        margin: 0;
    }
}

@media (max-width: 380px) {
    .innr {
        font-size: 15px;
    }
}

.lupdate {
    text-align: center;
    color: rgba(255, 138, 149, 0.9);
    margin-top: 7px;
    font-size: 13px;
    font-weight: 300;
}


/*Map Section*/

.map_wrapper {
    margin-top: 15px;
}

#wmap {
    width: 100%;
    height: 85vh;
    background-color: transparent;
    position: absolute;
}

.jvectormap-container {
    background-color: transparent !important;
}

.jvectormap-tip {
    border: solid 1px #CDCDCD;
    border-radius: 3px;
    background: transparent;
    color: white;
    font-family: inherit;
    font-size: smaller;
    padding: 3px;
    transition: opacity 0.25s ease;
    width: 120px;
    border: 1px solid white;
    border-radius: 4px;
    text-align: center;
}

.jvectormap-tip img {
    width: 100%;
    height: auto;
    margin-bottom: -5px;
    border-radius: 4px 4px 0 0;
}

.jvectormap-tip .title {
    padding: 5px;
    background-color: #070707;
}

.jvectormap-tip .info {
    padding: 5px;
    border-radius: 0 0 4px 4px;
}

.jvectormap-tip .changed {
    font-size: 0.7em;
}

.chide {
    display: none;
}